#footer_Container {
  background-color: #377448;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#infoFooter_Container {
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconos_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconosRedes {
  background-color: #a8d146;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
}
