#header_Container {
  background-color: #377448;
  width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar_Container {
  /* background-color: tomato; */
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links_Container {
  /* background-color: grey; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo_Container {
  /* background-color: wheat; */
  width: fit-content;
  height: fit-content;
}

.navLinks {
  color: white;
  font-family: "Cormorant Garamond";
  font-size: larger;
}

.navLinks:hover,
.navLinks:active,
.navLinks:focus {
  color: #76b35a;
}

@media (max-width: 768px) {
  #navbar_Container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #links_Container {
    align-items: center;
  }
}
