#header_Container {
  width: 100%;
  height: 12vh;
  color: white;
  background-color: #377448;
  display: flex;
  justify-content: center;
}

#navbar_Container {
  width: 90%;
}

#links_Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_Container {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.navLinks {
  color: white;
  font-family: "Cormorant Garamond";
  font-size: larger;
}

.navLinks:hover,
.navLinks:active,
.navLinks:focus {
  color: #76b35a;
}
