/* SECCION CARRUSEL */
#carrusel_Seccion {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#contenidoCarrusel {
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 60px;
}

h4 {
  font-family: "Cormorant Garamond";
  color: white;
  margin: 40px 0px;
}

#btnOfreceLote {
  font-family: "Poppins";
  background-color: #377448;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  border: 0px;
  padding: 10px 25px;
  margin: 10px 0px;
}

#btnOfreceLote:hover {
  background-color: transparent;
  border: 1px solid white;
}

/* SECCION QUIENES SOMOS */

#quienesSomos_Seccion {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

#QS_Container {
  height: 100%;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

#textoQS_Container {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: beige; */
}

h2 {
  color: #377448;
  font-family: "Cormorant Garamond";
  font-weight: 600;
}

p {
  margin-bottom: 0;
}

/* SECCION QUE OFRECEMOS */

#queOfrecemos_Seccion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#QO_Container {
  width: 62%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* --SECCION BLOQUES-- */

.container_Bloque {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img_Bloque {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.iconos_Bloques {
  color: white;
  margin-bottom: 20px;
  font-size: 70px;
}

.contenido_Bloque {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.contenidoHover_Bloque {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  background: rgba(55, 116, 72, 0.85);
  padding: 20px;
  justify-content: center;
  text-align: center;

  /* Efecto de entrada */
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}

.container_Bloque:hover .contenido_Bloque {
  opacity: 0;
}

.container_Bloque:hover .contenidoHover_Bloque:hover {
  opacity: 1;
}

#container_Bloque2y3 {
  width: 100%;
  height: fit-content;
  display: flex;
}

/* SECCION COMO FUNCIONA */

#comoFunciona_Seccion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#CF_Container {
  width: 75%;
  height: 70%;
  padding: 0%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stepper-visual-wrapper {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 90%;
}

.stepper-visual-wrapper::before,
.stepper-visual-wrapper::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: background-color 0.3s ease;
}
.stepper-visual-wrapper::before {
  left: 0px;
}
.stepper-visual-wrapper::after {
  right: 0px;
}

.stepper-visual-wrapper.paso-activo::before {
  background-color: #a8d146;
}

.stepper-visual-wrapper.paso-final::after {
  background-color: #a8d146;
}

.progress-bar {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.progress-bar-fill {
  height: 100%;
  background-color: #a8d146;
  transition: width 0.5s ease-in-out;
}

.pasos_Container {
  /* background-color: red; */
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.circulo-paso {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1.5px solid white;
  color: white;
  background-color: transparent;
  /* background-color: white; */
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}

/* Clase cuando el paso está activo o ya pasó */
.circulo-paso.activo {
  background-color: #a8d146;
  border-color: #a8d146;
  color: #377448;
  box-shadow: 0 0 0 10px rgba(55, 116, 72, 0.5);
}

#pasos_Contenido {
  width: 65%;
}

/* SECCION OFRECE TU LOTE */

#OLote_Seccion {
  height: max-content;
  position: relative;
  display: flex;
  align-items: center;
}

#form_Container {
  /* background-color: antiquewhite; */
  width: 30%;
  left: 13%;
  position: absolute;
}

.formLabels {
  color: #377448;
}

.formControls {
  background-color: transparent;
  border: 1px solid #76b35a;
}

/* Quitar flechas en Chrome, Safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

#btnEnviarInfo {
  background-color: #377448;
  border: none;
  border-radius: 50px;
  font-family: "Cormorant Garamond";
  font-size: larger;
}

#btnEnviarInfo:hover {
  background-color: transparent;
  border: 1px solid #377448;
  color: #377448;
}

#mapa_Container {
  width: fit-content;
  position: absolute;
  right: 13%;
  /* background-color: aqua; */
}
