/* SECCION CARRUSEL */
#carrusel_Seccion {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#contenidoCarrusel {
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 60px;
}

h4 {
  font-family: "Cormorant Garamond";
  color: white;
  margin: 40px 0px;
}

#btnOfreceLote {
  font-family: "Poppins";
  background-color: #377448;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  border: 0px;
  padding: 10px 25px;
  margin: 10px 0px;
}

#btnOfreceLote:hover {
  background-color: transparent;
  border: 1px solid white;
}

/* SECCION QUIENES SOMOS */

#quienesSomos_Seccion {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

#QS_Container {
  height: 100%;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

#textoQS_Container {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: beige; */
}

h2 {
  color: #377448;
  font-family: "Cormorant Garamond";
  font-weight: 600;
}

p {
  margin-bottom: 0;
}

/* SECCION QUE OFRECEMOS */

#queOfrecemos_Seccion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#QO_Container {
  width: 62%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* --SECCION BLOQUES-- */

#bloques_Seccion {
  display: flex;
}

#bloque1_Container {
  width: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blosque234_Container {
  width: 50%;
}

#bloque2Y3_Container {
  width: 100%;
  height: fit-content;
  display: flex;
}

.bloque2Y3 {
  width: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bloque4_Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido_Bloque {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos_Bloques {
  color: white;
  margin-bottom: 20px;
  font-size: 70px;
}

/* SECCION COMO FUNCIONA */

#comoFunciona_Seccion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#CF_Container {
  width: 75%;
  height: 70%;
  padding: 0%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  /* border: 3px solid #a8d146; */
}

.pasos_Container {
  /* background-color: red; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circulo-paso {
  width: 40px;
  height: 40px;
  color: white;
  font-size: x-large;
  border-radius: 50%;
  border: 1.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pasos_Contenido {
  width: 65%;
}

/* SECCION OFRECE TU LOTE */

#OLote_Seccion {
  height: max-content;
  position: relative;
  display: flex;
  align-items: center;
}

#form_Container {
  /* background-color: antiquewhite; */
  width: 30%;
  left: 13%;
  position: absolute;
}

.formLabels {
  color: #377448;
}

.formControls {
  background-color: transparent;
  border: 1px solid #76b35a;
}

/* Quitar flechas en Chrome, Safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

#btnEnviarInfo {
  background-color: #377448;
  border: none;
  border-radius: 50px;
  font-family: "Cormorant Garamond";
  font-size: larger;
}

#btnEnviarInfo:hover {
  background-color: transparent;
  border: 1px solid #377448;
  color: #377448;
}

#mapa_Container {
  width: fit-content;
  position: absolute;
  right: 13%;
  /* background-color: aqua; */
}




